<h4>
  <a href="{{ url_for('about_boards', game_id=game.id, _anchor='trans') }}" data-toggle="tooltip" title="{{ tips['ttip'] }}">
  {% if 'Transitional' not in board_list %}<s>{% endif %}
    Transitional Housing</a>
  {% if 'Transitional' in board_list %}
    <span class="label label-info ">
      {{ board_lens['Transitional'] }}
    </span>
    {% if maxes['Transitional'] > 20 %}
      <mark><small>
        Expanded to {{ maxes['Transitional'] }} slots
      </small></mark>
    {% endif %}
  {% else %}
    </s>
    <span class="label label-info ">
      {{ board_lens['Transitional'] }}
    </span>
    <mark><small>Closed</small></mark>
  {% endif %}
</h4>
{% if game.round_count > 1 %}
  <div>
    <canvas id="trans_chart"></canvas>
    <div id="trans_legend"></div>
  </div>
{% endif %}

<script>
{% if changes %}
  // status bar charts
  var transData = {
    labels : [1, 2, 3, 4, 5],
    datasets : [{
          data: [{% for _,b in changes['Transitional'] %}
                    40,
                  {% endfor %}],
          label: "",
          fillColor: "rgba(255,255,255,.2)",
          strokeColor: "rgba(255,255,255,.2)",
          pointColor: "rgba(255,255,255,.2)",
        },{
          data: [{% for a,_ in changes['Transitional'] %}
                    {{a}},
                  {% endfor %}],
          label: "Beads In",
          fillColor: "rgba(151,187,205,.2)",
          strokeColor: "rgba(151,187,205,.6)",
          pointColor: "rgba(151,187,205,.6)",
        },{
          data: [{% for _,b in changes['Transitional'] %}
                    {{b}},
                  {% endfor %}],
          label: "Beads Out",
          fillColor: "rgba(255,51,51,.2)",
          strokeColor: "rgba(255,51,51,.6)",
          pointColor: "rgba(255,51,51,.6)",
        }
      ]
    }
  // Set defaults and options
  Chart.defaults.global.responsive = true;
  Chart.defaults.global.scaleLineColor = "black";
  Chart.defaults.global.scaleFontSize = 16;
  // legendTemplate takes a template as a string
  var options = {
    display: true,
    scaleShowGridLines : false,
    barShowStroke : true,
    bezierCurve: false,
    multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",
    legendTemplate : '<ul class="list-inline">'
                      +'<% for (var i=1; i<datasets.length; i++) { %>'
                      +'<li class="list-group-item">'
                        +'<span style=\"background-color:<%=datasets[i].strokeColor%>\">'
                        +'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
                      +'</span></li>'
                      +'<% } %>'
                    +'</ul>'
    }

  // trans chart - draw chart and legend
  var echart = new Chart(document.getElementById("trans_chart").getContext("2d"))
  var trans_chart = echart.Bar(transData, options);
  document.getElementById("trans_legend").innerHTML = trans_chart.generateLegend();
{% endif %}
</script>
