<h4>
  <a href="{{ url_for('about_boards', game_id=game.id, _anchor='trans') }}" data-toggle="tooltip" title="{{ tips['ttip'] }}">
    Transitional Housing</a>
  <span class="label label-info ">
      {{ board_lens[4] }} people
  </span>
  <mark><small>
    {% if maxes[4] > 20 %}
        Expanded to {{ maxes[4] }} slots
    {% elif 4 not in board_list %}
      Closed
    {% else %}
      20 slots
    {% endif %}
  </small></mark>
</h4>
{% if game.round_count > 1 %}
  <div>
    <canvas id="trans_chart"></canvas>
  </div>
{% endif %}

<script>
{% if changes %}
  var data = {
    labels : [1, 2, 3, 4, 5],
    datasets : [{
          data: [{% for a,_ in changes[4] %}
                    {{a}},
                  {% endfor %}],
          label: "People In",
          backgroundColor: "rgba(255,99,71,.8)"
        },{
          data: [{% for _,b in changes[4] %}
                    {{b}},
                  {% endfor %}],
          label: "People Out",
          backgroundColor: "rgba(0,255,127,.8)"
        }
      ]
    }

  var options = {
    scales: {
      yAxes: [{
        display: true,
        ticks: {
          suggestedMin: 0,
          suggestedMax: 40
            }
        }]
    },
    legend: {
      labels: {
        boxWidth: 2
      }
    }
  }

  var ctx = document.getElementById("trans_chart").getContext("2d");
  var trans_chart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: options});
{% endif %}
</script>
