<h4>
  <a href="{{ url_for('about_boards', game_id=game.id, _anchor='rapid') }}" data-toggle="tooltip" title="{{ tips['rtip'] }}">
    {% if 2 not in board_list %}<s>{% endif %}
      Rapid Rehousing</a>
  {% if 2 in board_list %}
    <span class="label label-info ">
      {{ board_lens[2] }}
    </span>
    {% if maxes[2] > 10 %}
      <mark><small>
        Expanded to {{ maxes[2] }} slots
      </small></mark>
    {% endif %}
  {% else %}
    </s>
    <span class="label label-info ">
      {{ board_lens[2] }}
    </span>
    <mark><small>Closed</small></mark>
  {% endif %}
</h4>
{% if game.round_count > 1 %}
  <div>
    <canvas id="rapid_chart"></canvas>
    <div id="rapid_legend"></div>
  </div>
{% endif %}

<script>
{% if changes %}
  // chart data
  var data = {
    labels : [1, 2, 3, 4, 5],
    datasets : [{
          data: [{% for a,_ in changes[2] %}
                    {{a}},
                  {% endfor %}],
          label: "Beads In",
          backgroundColor: "rgba(255,99,71,.8)"
        },{
          data: [{% for _,b in changes[2] %}
                    {{b}},
                  {% endfor %}],
          label: "Beads Out",
          backgroundColor: "rgba(0,255,127,.8)"
        }
      ]
    }

  var options = {
    scales: {
      yAxes: [{
        display: true,
        ticks: {
          suggestedMin: 0,
          suggestedMax: 40
            }
        }]
    },
    legend: {
      labels: {
        boxWidth: 2
      }
    }
  }

  var ctx = document.getElementById("rapid_chart").getContext("2d");
  var rapid_chart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: options});
{% endif %}
</script>
