      {% if game.board_to_play == 0 %}
        <div class="panel-heading">
          <h2 class="panel-title">
            Play Entire Round
              <a href="{{ url_for('play_round', game_id=game.id) }}" class="pull-right">Play</a>
          </h2>
        </div>
        <div class="panel-body">
        </div>
      {% endif %}
      <div class="panel-heading">
        <h2 class="panel-title">
          Board to Play: {{ board_list[game.board_to_play] }}
        </h2>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <h4>Intake Program
              <span class="label label-info ">0</span>
              {% if game.intake_cols == 6 %}
                <mark><small>Diversion Column enabled</small></mark>
              {% endif %}
              <a href="{{ url_for('play_board', board_name="Intake", game_id=game.id) }}" class="pull-right">Play</a>
            </h4>
          </li>
          {% if 'Emergency' in board_list %}
            <li class="list-group-item">
              <h4>Emergency Housing
                <span class="label label-info ">
                  {{ boards['Emergency']|length }}
                </span>
                {% if maxes['Emergency'] > 25 %}
                  <mark><small>
                    Expanded to {{ maxes['Emergency'] }} slots
                  </small></mark>
                {% endif %}
                <a href="{{ url_for('play_board', board_name="Emergency", game_id=game.id) }}" class="pull-right">Play</a>
              </h4>
            </li>
          {% else %}
            <li class="list-group-item">
              <h4><s>Emergency Housing</s>
                <span class="label label-info ">
                  {{ boards['Emergency']|length }}
                </span>
                <mark><small>Closed</small></mark>
              </h4>
            </li>
          {% endif %}
          {% if 'Rapid' in board_list %}
            <li class="list-group-item">
              <h4>Rapid Rehousing
                <span class="label label-info ">
                  {{ boards['Rapid']|length }}
                </span>
                {% if maxes['Rapid'] > 10 %}
                  <mark><small>
                    Expanded to {{ maxes['Rapid'] }} slots
                  </small></mark>
                {% endif %}
                <a href="{{ url_for('play_board', board_name="Rapid", game_id=game.id) }}" class="pull-right">Play</a>
              </h4>
            </li>
          {% else %}
            <li class="list-group-item">
              <h4><s>Rapid Housing</s>
                <span class="label label-info ">
                  {{ boards['Rapid']|length }}
                </span>
                <mark><small>Closed</small></mark>
              </h4>
            </li>
          {% endif %}
          {% if 'Outreach' in board_list %}
            <li class="list-group-item">
              <h4>Outreach Program
                <span class="label label-info ">
                  {{ boards['Outreach']|length }}
                </span>
                {% if maxes['Outreach'] > 10 %}
                  <mark><small>
                    Expanded to {{ maxes['Outreach'] }} slots
                  </small></mark>
                {% endif %}
                <a href="{{ url_for('play_board', board_name="Outreach", game_id=game.id) }}" class="pull-right">Play</a>
              </h4>
            </li>
          {% else %}
            <li class="list-group-item">
              <h4><s>Outreach Housing</s>
                <span class="label label-info ">
                  {{ boards['Outreach']|length }}
                </span>
                <mark><small>Closed</small></mark>
              </h4>
            </li>
          {% endif %}
          {% if 'Transitional' in board_list %}
            <li class="list-group-item">
              <h4>Transitional Housing
                <span class="label label-info ">
                  {{ boards['Transitional']|length }}
                </span>
                {% if maxes['Transitional'] > 20 %}
                  <mark><small>
                    Expanded to {{ maxes['Transitional'] }} slots
                  </small></mark>
                {% endif %}
                <a href="{{ url_for('play_board', board_name="Transitional", game_id=game.id) }}" class="pull-right">Play</a>
              </h4>
            </li>
          {% else %}
            <li class="list-group-item">
              <h4><s>Transitional Housing</s>
                <span class="label label-info ">
                  {{ boards['Transitional']|length }}
                </span>
                <mark><small>Closed</small></mark>
              </h4>
            </li>
          {% endif %}
          {% if 'Permanent' in board_list %}
            <li class="list-group-item">
              <h4>Permanent Supportive Housing
                <span class="label label-info ">
                  {{ boards['Permanent']|length }}
                </span>
                {% if maxes['Permanent'] > 20 %}
                  <mark><small>
                    Expanded to {{ maxes['Permanent'] }} slots
                  </small></mark>
                {% endif %}
                <a href="{{ url_for('play_board', board_name="Permanent", game_id=game.id) }}" class="pull-right">Play</a>
              </h4>
            </li>
          {% else %}
            <li class="list-group-item">
              <h4><s>Permanent Housing</s>
                <span class="label label-info ">
                  {{ boards['Permanent']|length }}
                </span>
                <mark><small>Closed</small></mark>
              </h4>
            </li>
          {% endif %}
        </ul>
      </div><!-- ./panel body -->
