/*
 * Additional Styles for Naeh-Game
 */

#top{
    width: 90%;
    margin: auto;
}

#middle{
    width: 90%;
    margin: auto;
}

#bottom {
    width: 90%;
    margin: auto;
    color: #000000;
    font-size: small;
    text-align: center;
    margin-top: 30px;
}

#game-table {
    width: 100%;
    margin: auto;
    position: relative;
}

.board {
    border: 1px;
    border-color: black;
    height: 40px;
}

.bead {
    width: 15px;
    height: 15px;
    position: absolute;
    background: red;
}
