<!-- app/templates/base.html -->
<!-- TODO: CSS style sheet; remove in-tag styling -->

<html>
  <head>
    <title>NAEH - Homeless Services Game</title>
  </head>

  <body>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul style="list-style: none; padding-left:0;">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% block content %}
  {% endblock %}

  </body>
</html>
