<!-- app/templates/index.html -->
{% extends "base.html" %}
{% block content %}
  <h1>Begin a New Game</h1>
  <form action="" method="POST" name="new_game">
    <p><input type="submit" value="Let's Go!" /></p>
  </form>

  <h1>Games in Progress</h1>
  {% if recent_games %}
    <ul>
    {% for this_game in recent_games %}
      <li>
        <a href="{{ url_for('status', game_id=this_game.id) }}">
          {{ this_game.id }}
        </a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No games started yet.</p>
  {% endif %}

{% endblock %}
