<!-- app/templates/status.html -->
{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('index') }}"><button>Index</button></a>

{% if this_game %}

<h1>Round {{ this_game.round_count }}

<hr>

<h1>All Boards</h1>

<hr>

<h2>Intake Board</h2>
<p>[TOTAL = '{{ this_game.intake|length }}' || '{{ this_game.intake }}']</p>

<p>
<span style="padding:10;">
    <a href="{{ url_for('load_intake', game_id=this_game.id) }}">
        <button>Load Intake</button></a>
</span>
<span style="padding:10;">
    <a href="{{ url_for('play_intake', game_id=this_game.id) }}">
        <button>Play Intake</button></a>
</span>
</p>

<hr>

<h2>Emergency Board</h2>
<p>{{ this_game.emergency }}</p>

<h2>Rapid Rehousing Board</h2>
<p>{{ this_game.rapid }}</p>

<h2>Outreach Board</h2>
<p>[room = '{{ 10 - (this_game.outreach|length) }}' || '{{ this_game.outreach }}']</p>

<h2>Transitional Housing Board</h2>
<p>{{ this_game.transitional }}</p>

<h2>Permanent Supportive Housing Board</h2>
<p>{{ this_game.permanent }}</p>

<h1>All Bins</h1>

<h2>Market Housing Bin</h2>
<p>[TOTAL = '{{ this_game.market|length }}' || '{{ this_game.market }}']</p>

<h2>Unsheltered Homeless Bin</h2>
<p>[TOTAL = '{{ this_game.unsheltered|length }}' || '{{ this_game.unsheltered }}']</p>

{% endif %}
{% endblock %}
