<!-- app/templates/status.html -->
{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('index') }}"><button>Index</button></a>

{% if this_game %}

<h1>Round {{ this_game.round_count }}

<hr>

<h1>All Boards</h1>

<hr>

<h2>Intake Board</h2>
<p>Count: {{ this_game.intake|length }}</p>
<p>Beads: {{ this_game.intake }}</p>

<p>
    <a href="{{ url_for('load_intake', game_id=this_game.id) }}">
        <button>Load Intake</button>
    </a>
</p>

<p>
    <a href="{{ url_for('play_intake', game_id=this_game.id) }}">
        <button>Play Intake</button>
    </a>
</p>

<hr>

<h2>Emergency Board</h2>
<p>Count: {{ this_game.emergency|length }} out of 25</p>
<p>Beads: {{ this_game.emergency }}</p>

<h2>Rapid Rehousing Board</h2>
<p>Count: {{ this_game.rapid|length }} out of 10</p>
<p>Beads: {{ this_game.rapid }}</p>

<h2>Outreach Board</h2>
<p>Count: {{ this_game.outreach|length }} out of 10</p>
<p>Beads: {{ this_game.outreach }}</p>

<h2>Transitional Housing Board</h2>
<p>Count: {{ this_game.transitional|length }} out of 20</p>
<p>Beads: {{ this_game.transitional }}</p>

<h2>Permanent Supportive Housing Board</h2>
<p>Count: {{ this_game.permanent|length }} out of 20</p>
<p>Beads: {{ this_game.permanent }}</p>

<h1>All Bins</h1>

<h2>Market Housing Bin</h2>
<p>Count: {{ this_game.market|length }}</p>
<p>Beads: {{ this_game.market }}</p>

<h2>Unsheltered Homeless Bin</h2>
<p>Count: {{ this_game.unsheltered|length }}</p>
<p>Beads: {{ this_game.unsheltered }}</p>

{% endif %}
{% endblock %}
