<!-- app/templates/status.html -->
{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('index') }}"><button>Index</button></a>

{% if game %}

<h1>Round {{ game.round_count }}

<hr>

<h1>All Boards</h1>

<hr>

<h2>Intake Board</h2>
<p>[TOTAL = '{{ game.intake|length }}' || '{{ game.intake }}']</p>

<p>
<span style="padding:10;">
    <a href="{{ url_for('load_intake', game_id=game.id) }}">
        <button>Load Intake</button></a>
</span>
<span style="padding:10;">
    <a href="{{ url_for('play_intake', game_id=game.id) }}">
        <button>Play Intake</button></a>
</span>
</p>

<hr>

<h2>Emergency Board</h2>
<p>[TOTAL = '{{ emergency.board|length }}' || '{{ emergency.board }}']</p>

<h2>Rapid Rehousing Board</h2>
<p>[TOTAL = '{{ rapid.board|length }}' || '{{ rapid.board }}']</p>

<h2>Outreach Board</h2>
<p>[room = '{{ 10 - (game.outreach|length) }}' || '{{ game.outreach }}']</p>

<h2>Transitional Housing Board</h2>
<p>[TOTAL = '{{ transitional.board|length }}' || '{{ transitional.board }}']</p>

<h2>Permanent Supportive Housing Board</h2>
<p>[TOTAL = '{{ permanent.board|length }}' || '{{ permanent.board }}']</p>

<h1>All Bins</h1>

<h2>Market Housing Bin</h2>
<p>[TOTAL = '{{ game.market|length }}' || '{{ game.market }}']</p>

<h2>Unsheltered Homeless Bin</h2>
<p>[TOTAL = '{{ game.unsheltered|length }}' || '{{ game.unsheltered }}']</p>

{% endif %}
{% endblock %}
