{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="panel panel-info col-sm-10">
      <div class="panel-heading">
        <h2 id="intake" class="panel-title">Intake</h2>
      </div>
      <div class="panel-body">
        <p>Intake is the way people experiencing a housing crisis enter the homelessness system. To better coordinated resources, many communities are working towards a coordinated intake system, where each entry point uses the same assessment tool and makes decisions on which programs families are referred to based on a comprehensive understanding of each program’s specific requirements, target population, and available beds and services. This could be done through a centralized phone hotline (e.g. a 2-1-1), a single physical point of assessment (through an emergency shelter or a dedicated assessment center, for example) or a decentralized coordinated system (with multiple assessment points all employing the same assessment and referral process).
        </p>
      </div><!--./panel-body -->
    <div class="col-sm-1">
    </div>
  </div><!--./row -->

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="panel panel-info col-sm-10">
      <div class="panel-heading">
        <h2 id="diversion" class="panel-title">Diversion</h2>
      </div>
      <div class="panel-body">
        <p>Diversion is a strategy that prevents homelessness by helping people, at the point they seek help from the shelter system, to identify permanent housing arrangements that are immediately available, and if necessary, connecting them with services and financial assistance to help them return to permanent housing. Diversion programs can reduce the number of families becoming homeless, the demand for shelter beds, and the size of program wait lists. Examples of the type of services diversion programs provide include landlord or family mediation and financial assistance.
        </p>
      </div><!--./panel-body -->
    <div class="col-sm-1">
    </div>
  </div><!--./row -->

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="panel panel-info col-sm-10">
      <div class="panel-heading">
        <h2 id="emerg" class="panel-title">Emergency</h2>
      </div>
      <div class="panel-body">
        <p>Emergency shelters address housing crises for individuals and families experiencing homelessness. These programs do not require occupants to sign leases or occupancy agreements. While the length of time households stay in emergency shelter varies, it is typically a short term model where households stay while they work on resolving their housing crisis.
        </p>
      </div><!--./panel-body -->
    <div class="col-sm-1">
    </div>
  </div><!--./row -->

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="panel panel-info col-sm-10">
      <div class="panel-heading">
        <h2 id="rapid" class="panel-title">Rapid</h2>
      </div>
      <div class="panel-body">
        <p>Rapid re-housing is an intervention designed to help individuals and families to quickly exit homelessness and return to permanent housing. Rapid re-housing assistance is offered without preconditions (such as employment, income, absence of criminal record, or sobriety) and the resources and services provided are tailored to the unique needs of the household. The core components of rapid re-housing are housing identification, financial assistance for rent or move-in costs, and case management and services.  Services and financial assistance in rapid re-housing are short term, typically six months or less.
        </p>
      </div><!--./panel-body -->
    <div class="col-sm-1">
    </div>
  </div><!--./row -->

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="panel panel-info col-sm-10">
      <div class="panel-heading">
        <h2 id="outreach" class="panel-title">Outreach</h2>
      </div>
      <div class="panel-body">
        <p>Outreach programs work to connect with people living on the street or other places not meant for human habitation. They often provide food, clothing, or medical care, but can also have the goal of connecting these individuals or families with housing.
        </p>
      </div><!--./panel-body -->
    <div class="col-sm-1">
    </div>
  </div><!--./row -->

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="panel panel-info col-sm-10">
      <div class="panel-heading">
        <h2 id="trans" class="panel-title">Transitional</h2>
      </div>
      <div class="panel-body">
        <p>Transitional housing provides services to individuals and families experiencing homelessness while they live in temporary housing for up to 24 months. During that time, participants are often required to engage in services and case management. These programs differ from rapid re-housing in that they tend to be longer term, and the housing is not permanent, so once the program ends the households must move to other housing.
        </p>
      </div><!--./panel-body -->
    <div class="col-sm-1">
    </div>
  </div><!--./row -->

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="panel panel-info col-sm-10">
      <div class="panel-heading">
        <h2 id="perm" class="panel-title">Permanent</h2>
      </div>
      <div class="panel-body">
        <p>Permanent Supportive Housing is a model that provides permanent housing with supportive services for people with a disability. Increasingly these programs are focused on serving people experiencing chronic homelessness, which is someone who has experienced homelessness for a year or longer, or who has experienced at least four episodes of homelessness in the last three years and has a disability. There is no time limitation, and tenants may live in their homes as long as they meet the basic obligations of tenancy. While participation in services is encouraged, it is not a condition of living in the housing. Housing affordability is ensured either through a rent subsidy or by setting rents at affordable levels.
        </p>
      </div><!--./panel-body -->
    <div class="col-sm-1">
    </div>
  </div><!--./row -->


{% endblock %}
