<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The 3 meta tags above *must* come first in the head -->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>NAEH - Homeless Services Game</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src='../static/js/Chart.min.js'></script>
  </head>
  <body>
    <div class="container" style="min-height:100% width:80%">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <img class="navbar-left" alt="Logo" src="../static/img/sm-blue-house.png">
          <h3 class="navbar-text">NAEH Game</h3>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ url_for('home') }}" class="navbar-link">Home</a>
            </li>
            {% if game and game.round_count < 6 %}
              <li class="navbar-text">Game {{ game.id }}: Round {{ game.round_count }}</li>
            {% elif game and game.round_count == 6 %}
              <li class="navbar-text">Game {{ game.id }}: Game Over</li>
            {% else %}
              <form class="navbar-form navbar-right" role="new" action="" method="POST" name="new_game">
                <div class="form-group">
                  <button type="submit" class="btn btn-link">New Game</button>
                </div>
              </form>
            {% endif %}
          </ul>
        </div>
      </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
          <!-- <strong>Title</strong> --> {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
    </div><!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
