      <div class="panel-heading">
        <h2 class="panel-title">People In Programs</h2>
      </div>
      <div class="panel-body">
        <div>
          <canvas id="in_program_chart"></canvas>
        </div>
      </div>

<script>
  // Set defaults and options
  Chart.defaults.global.responsive = true;
  Chart.defaults.global.scaleLineColor = "black";
  Chart.defaults.global.scaleFontSize = 16;

  // chart data
  var data = {
    labels : [0, 1, 2, 3, 4, 5],
    datasets : [{
          data: [{% for count in counts[1] %}
                    {{count}},
                  {% endfor %}],
          label: "Emergency",
          fill: false,
          borderColor: "rgba(250,128,114,.8)",
          lineTension: 0.1
        },{
          data: [{% for count in counts[2] %}
                    {{count}},
                  {% endfor %}],
          label: "Rapid",
          fill: false,
          borderColor: "rgba(152,251,152,.8)",
        },{
          data: [{% for count in counts[4] %}
                    {{count}},
                  {% endfor %}],
          label: "Transitional",
          fill: false,
          borderColor: "rgba(221,160,221,.8)",
        },{
          data: [{% for count in counts[5] %}
                    {{count}},
                  {% endfor %}],
          label: "Permanent",
          fill: false,
          borderColor: "rgba(143,188,143,.8)",
          lineTension: 0.1
        }
      ]
    }
  var options = {
    legend: {
      labels: {
        boxWidth: 2
      }
    }
  }

  var ctx = document.getElementById("in_program_chart").getContext("2d");
  var in_chart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options});
</script>
