      <div class="panel-heading">
        <h2 class="panel-title">People In Programs</h2>
      </div>
      <div class="panel-body">
        <div>
          <canvas id="in_program_chart"></canvas>
          <div id="in_program_legend"></div>
        </div>
      </div>

<script>
  // in_program_chart data
  var progData = {
    labels : [0, 1, 2, 3, 4, 5],
    datasets : [{
          data: [{% for count in counts[1] %}
                    {{count}},
                  {% endfor %}],
          label: "Emergency",
          fillColor: "rgba(255,255,255,.2)",
          strokeColor: "rgba(250,128,114,.6)",
          pointColor: "rgba(250,128,114,.6)",
        },{
          data: [{% for count in counts[2] %}
                    {{count}},
                  {% endfor %}],
          label: "Rapid",
          fillColor: "rgba(255,255,255,.2)",
          strokeColor: "rgba(152,251,152,.6)",
          pointColor: "rgba(152,251,152,.6)",
        },{
          data: [{% for count in counts[4] %}
                    {{count}},
                  {% endfor %}],
          label: "Transitional",
          fillColor: "rgba(255,255,255,.2)",
          strokeColor: "rgba(221,160,221,.6)",
          pointColor: "rgba(221,160,221,.6)",
        },{
          data: [{% for count in counts[5] %}
                    {{count}},
                  {% endfor %}],
          label: "Permanent",
          fillColor: "rgba(255,255,255,.2)",
          strokeColor: "rgba(143,188,143,.6)",
          pointColor: "rgba(143,188,143,.6)",
        }
      ]
    }
  // Set defaults and options
  Chart.defaults.global.responsive = true;
  Chart.defaults.global.scaleLineColor = "black";
  Chart.defaults.global.scaleFontSize = 16;
  // legendTemplate takes a template as a string
  var options = {
    display: true,
    scaleShowGridLines : false,
    barShowStroke : true,
    bezierCurve: false,
    multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",
    legendTemplate : '<ul class="list-inline">'
                      +'<% for (var i=0; i<datasets.length; i++) { %>'
                      +'<li class="list-group-item">'
                        +'<span style=\"background-color:<%=datasets[i].strokeColor%>\">'
                        +'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
                      +'</span></li>'
                      +'<% } %>'
                    +'</ul>'
    }

  // in_program_chart - draw chart and legend
  var pchart = new Chart(document.getElementById("in_program_chart").getContext("2d"))
  var prog_chart = pchart.Line(progData, options);
  document.getElementById("in_program_legend").innerHTML = prog_chart.generateLegend();
</script>
