      {% if game.round_count > 1 %}
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Major Decisions</h2>
          </div>
          <div class="panel-body">
          <ul class="list-inline center-block">
            {% for decision in decisions %}
              {% if 'converted' in decision %}
                <li class="list-inline-item list-group-item-warning">
              {% else %}
                <li class="list-inline-item list-group-item-success">
              {% endif %}
                  {{ decision }}
                </li>
            {% endfor %}
          </ul>
          </div>
        </div><!-- ./div panel Major Decisions -->
      {% endif %}
