{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="well">
      <p>The Homeless System Simulation Game is designed to help communities understand how the homeless assistance system works. The simulation is a very simplified version of how homelessness assistance systems work, and was designed using actual data for outcomes of programs in different communities across the country. The game encourages thought about your local homelessness assistance system, the impact of decisions and strategies to reduce homelessness, and system-wide outcomes. Questions regarding the game should be directed to <a href="mailto:thecenter@naeh.org?Subject=Online%20Simulation" target="_top">thecenter@naeh.org</a>.</p>
      <p>
        <form class="" role="new" action="" method="POST" name="new_game">
          Click
            <button type="submit" class="btn btn-link">New Game</button>
          to begin!
        </form>
      </p>
    </div>
  </div> <!-- ./row -->
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        {% if not current_games %}
          <div class="panel-body">
            <p>No games in play.</p>
          </div>
        {% else %}
          <div class="panel-heading">
            <h2 class="panel-title">Games in Progress</h2>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              {% for game in current_games %}
                <li class="list-group-item">
                  <a href="{{ url_for('status', game_id=game.id) }}">
                    Game {{ game.id }}: Round {{ game.round_count }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div> <!-- ./panel-body -->
        {% endif %}
      </div> <!-- ./panel -->
    </div> <!-- ./col -->
    <div class="col-sm-6">
      <div class="panel panel-warning">
        {% if not complete_games %}
          <div class="panel-body">
            <p>No completed games.</p>
          </div>
        {% else %}
        <div class="panel-heading">
          <h2 class="panel-title">Completed Games</h2>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            {% for game in complete_games %}
              <li class="list-group-item">
                <a href="{{ url_for('status', game_id=game.id) }}">
                  Game {{ game.id }}: Score {{ game.final_score }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div> <!-- ./panel-body -->
        {% endif %}
      </div> <!-- ./panel -->
    </div><!-- ./col -->
  </div> <!-- ./row -->
{% endblock %}
