{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="well">
      <p>The Homeless System Simulation is designed to help communities understand how the homeless assistance system works. Although very simplified, this simulation was designed using actual data for outcomes of programs in different communities across the country. The simulation encourages thought about your local homelessness assistance system, the impact of decisions about strategies to reduce homelessness, and system-wide outcomes. Questions regarding the simulation should be directed to <a href="mailto:thecenter@naeh.org?Subject=Online%20Simulation" target="_top">thecenter@naeh.org</a>.</p>
      <p><form action="{{ url_for('new_game') }}" method="POST" name="new_game">
        To start, click
          <button type="submit" class="btn btn-link">Begin a New Simulation</button>
      </form></p>
    </div>
  </div> <!-- ./row -->
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        {% if not open_games %}
          <div class="panel-body">
            <p>No simulations in progress.</p>
          </div>
        {% else %}
          <div class="panel-heading">
            <h2 class="panel-title">Simulations in Progress</h2>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              {% for game in open_games %}
                <li class="list-group-item">
                  <a href="{{ url_for('status', game_id=game.id) }}">
                    Simulation Number {{ game.id }}: Round {{ game.round_count }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div> <!-- ./panel-body -->
        {% endif %}
      </div> <!-- ./panel -->
    </div> <!-- ./col -->
    <div class="col-sm-6">
      <div class="panel panel-warning">
        {% if not complete_games %}
          <div class="panel-body">
            <p>No completed simulations.</p>
          </div>
        {% else %}
        <div class="panel-heading">
          <h2 class="panel-title">Completed Simulations</h2>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            {% for game in complete_games %}
              <li class="list-group-item">
                <a href="{{ url_for('status', game_id=game.id) }}">
                  Simulation Number {{ game.id }}: Score {{ game.final_score }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div> <!-- ./panel-body -->
        {% endif %}
      </div> <!-- ./panel -->
    </div><!-- ./col -->
  </div> <!-- ./row -->
{% endblock %}
