{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="panel panel-info col-sm-4">
      {% if not recent_games %}
        <div class="panel-body">
          <p>No games started yet.</p>
        </div>
      {% else %}
        <div class="panel-heading">
          <h2 class="panel-title">Games in Progress</h2>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            {% for game in recent_games %}
              {% if game.round_count < 6 %}
                <li class="list-group-item">
                  <a href="{{ url_for('status', game_id=game.id) }}">
                    Game {{ game.id }}: Round {{ game.round_count }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div> <!-- ./panel-body -->
    </div> <!-- ./panel -->
    <div class="col-sm-1">
    </div>
    <div class="panel panel-warning col-sm-4">
      <div class="panel-heading">
        <h2 class="panel-title">Completed Games</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          {% for game in recent_games %}
            {% if game.round_count == 6 %}
              <li class="list-group-item">
                <a href="{{ url_for('status', game_id=game.id) }}">
                  Game {{ game.id }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div> <!-- ./panel-body -->
    </div> <!-- ./panel -->
    {% endif %}
    <div class="col-sm-2">
    </div>
  </div> <!-- ./row -->
{% endblock %}
