{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="panel panel-info">
        {% for i in range(5) %}
          {% if moves_by_round[i] %}
            <div class="panel-heading">
              <h2 class="panel-title">Round {{ i+1 }}</h2>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                {% for moves in moves_by_round[i] %}
                  {% for move in moves %}
                    {% if 'room' not in move %}
                      {% if 'beads' in move %}
                        <li class="list-group-item">
                      {% else %}
                        <li class="list-group-item list-group-item-success">
                      {% endif %}
                      {{ move }}</li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </ul>
            </div><!--./panel-body -->
          {% endif %}
        {% endfor %}
      </div><!--./panel -->
    </div><!--./col -->
    <div class="col-sm-1">
    </div>
  </div><!--./row -->
{% endblock %}
