{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="panel panel-info col-sm-6">
      <div class="panel-heading">
        <h2 class="panel-title">All Moves</h2>
      </div>
      <div class="panel-body">
        {% if moves %}
          <ul class="list-group">
            {% for tup in move_tuples %}
              <li class="list-group-item">Round {{ tup[0] }}</li>
              <li class="list-group-item">Board Played {{ BOARD_LIST[(tup[1])] }}</li>
              {% for move in tup[2] %}
                {{ move }}
             {% endfor %}
            {% endfor %}
          </ul>
        {% else %}
          <p>No moves yet</p>
        {% endif %}
      </div><!--./panel-body -->
    <div class="col-sm-4">
    </div>
  </div><!--./row -->
{% endblock %}
