      <div class="panel-heading">
        <h2 class="panel-title">50 people entered the intake program ...</h2>
      </div>
      <div class="panel-body">
        <div>
          <canvas id="intake_movement_chart"></canvas>
        </div>
      </div>

<script>
  // chart data
  var data = {
    labels : ["Emergency", "Rapid", "Outreach",
              "Transitional", "Permanent",
              "Unsheltered", "Market"],
    datasets : [{
          data: [{% for value in intake_dest %}
                    {{ value }},
                  {% endfor %}],
            backgroundColor: ["#FA8072", "#98FB98", "#FFA07A",
                              "#DDA0DD", "#8FBC8F",
                              "#FF6347", "#00FF7F"]
        }]
  }
  var options = {
    animation: {
      animateRotate: true,
      animateScale: true
    },
    legend: {
      labels: {
        boxWidth: 2
      }
    }
  }

  var ctx = document.getElementById("intake_movement_chart")
  var movement_chart = new Chart(ctx, {
    type: 'pie',
    data: data,
    options: options});
</script>
