      <div class="panel-heading">
        <h2 class="panel-title">50 people entered the intake program ...</h2>
      </div>
      <div class="panel-body">
        <div>
          <canvas id="intake_movement_chart"></canvas>
          <div id="intake_movement_legend"></div>
        </div>
      </div>

<script>
  // intake_movement data
  var intakeMovement = {
    labels : ["Emergency", "Rapid", "Outreach",
              "Transitional", "Permanent", "Market",
              "Unsheltered"],
    datasets : [{
          data: [{% for value in intake_dest %}
                    {{ value }},
                  {% endfor %}],
            backgroundColor: ["#FA8072", "#98FB98", "#FFA07A",
                              "#DDA0DD", "#8FBC8F", "#00FF7F",
                              "#FF6347"]
        }]
  }
  // legendTemplate takes a template as a string
  var options = {
    display: true,
    animation: {
      animateRotate: true,
      animateScale: true
    },
    multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",
    legendTemplate : '<ul class="list-inline">'
                      +'<% for (var i=0; i<datasets.length; i++) { %>'
                      +'<li class="list-group-item">'
                        +'<span style=\"background-color:<%=datasets[i].strokeColor%>\">'
                        +'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
                      +'</span></li>'
                      +'<% } %>'
                    +'</ul>'
    }

  // intake_movement_chart - draw chart and legend
  var mchart = document.getElementById("intake_movement_chart")
  var movement_chart = new Chart(mchart,
    { type: 'pie',
      data: intakeMovement,
      options: options});
  //document.getElementById("intake_movement_legend").innerHTML = movement_chart.generateLegend();
</script>
