      {% if game.round_count > 1 %}
        <div class="panel panel-info">
          <div class="panel-heading">
              <h2 class="panel-title">Recent Records</h2>
          </div>
          <div class="panel-body">
              <ul class="list-group">
                {% for record in records %}
                  <li class="list-group-item">
                    {{ record.board_name }} Board:
                    {{ record.beads_in }} beads in,
                    {{ record.beads_out }} beads out
                  </li>
                {% endfor %}
              </ul>
              <a href="{{ url_for('view_log', game_id=game.id) }}">
                Full Log
              </a>
          </div>
        </div><!-- ./div panel Records -->
      {% endif %}
