          <div class="panel-heading">
            <a href="{{ url_for('status', game_id=game.id) }}" class="pull-right">
                  Go to status
            </a>
            <h2 class="panel-title">Final Score = {{ ((score.unsheltered * 3) + score.emerg_total + score.trans_total) - (score.market + score.rapid + score.perm) }}</h2>
          </div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <th>Program</th>
                <th>Count</th>
                <th>Program</th>
                <th>Count</th>
              </tr>
              <tr>
                <td>Unsheltered * 3</td>
                <td>{{ score.unsheltered * 3 }}</td>
                <td>Market</td>
                <td>{{ score.market}}</td>
              </tr>
              <tr>
                <td>Emergency</td>
                <td>{{ score.emerg_total }}</td>
                <td>Rapid</td>
                <td>{{ score.rapid}}</td>
              </tr>
              <tr>
                <td>Transitional</td>
                <td>{{ score.trans_total }}</td>
                <td>Permanent</td>
                <td>{{ score.perm}}</td>
              </tr>
              <tr>
                <th>Homeless Score</th>
                <th>{{ (score.unsheltered * 3) + score.emerg_total + score.trans_total }}</th>
                <th>Housing Score</th>
                <th>{{ score.market + score.rapid + score.perm }}</th>
              </tr>
            </table>
          </div><!--./panel-body -->
