<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Final Score = {{ ((counts[6].pop() * 3) + counts[1]|sum + counts[4]|sum) - (counts[7].pop() + counts[2].pop() + counts[5].pop()) }}</h2>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Program</th>
        <th>Count</th>
        <th>Program</th>
        <th>Count</th>
      </tr>
      <tr>
        <td>Unsheltered x 3</td>
        <td>{{ counts[6].pop() * 3 }}</td>
        <td>Market</td>
        <td>{{ counts[7].pop() }}</td>
      </tr>
      <tr>
        <td>Emergency</td>
        <td>{{ counts[1]|sum }}</td>
        <td>Rapid</td>
        <td>{{ counts[2].pop() }}</td>
      </tr>
      <tr>
        <td>Transitional</td>
        <td>{{ counts[4]|sum }}</td>
        <td>Permanent</td>
        <td>{{ counts[5].pop() }}</td>
      </tr>
      <tr>
        <th>Homeless Score</th>
        <th>{{ (counts[6].pop() * 3) + counts[1]|sum + counts[4]|sum }}</th>
        <th>Housing Score</th>
        <th>{{ counts[7].pop() + counts[2].pop() + counts[5].pop() }}</th>
      </tr>
    </table>
  </div><!--./panel-body -->
</div><!--./panel -->
