{% extends "base.html" %}
{% block content %}
  {% if game.round_count == 6 %}
    <div class="row">
      <div class="panel panel-primary col-sm-8">
          {% include 'score.html' %}
        </div><!--./panel -->
        <div class="col-sm-4">
          {% include 'decisions.html' %}
        </div>
    </div><!-- ./row -->
    <div class="row">
      {% include 'chart-totals.html' %}
    </div><!-- ./row -->
  {% endif %}
  <div class="row">
    <div class="panel panel-primary col-sm-10">
      <div class="panel-heading">
        <h2 class="panel-title">Boards
          <a href="{{ url_for('play_round', game_id=game.id) }}" class="pull-right">
            Play Round
          </a>
        </h2>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div><!-- ./row -->
  <div class="row">
    <div class="panel panel-primary col-sm-5">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <h4>Intake Program
              <span class="label label-info ">0</span>
              {% if game.intake_cols == 6 %}
                <mark><small>Diversion Column enabled</small></mark>
              {% endif %}
            </h4>
          </li>
          <li class="list-group-item">
            {% if 'Emergency' in board_list %}
              <h4>Emergency Housing
                <span class="label label-info ">
                  {{ boards['Emergency']|length }}
                </span>
                {% if maxes['Emergency'] > 25 %}
                  <mark><small>
                    Expanded to {{ maxes['Emergency'] }} slots
                  </small></mark>
                {% endif %}
              </h4>
            {% else %}
              <h4><s>Emergency Housing</s>
                <span class="label label-info ">
                  {{ boards['Emergency']|length }}
                </span>
                <mark><small>Closed</small></mark>
              </h4>
            {% endif %}
            {% if game.round_count > 1 %}
              {% include 'chart-emerg.html' %}
            {% endif %}
          </li>
          <li class="list-group-item">
            {% if 'Rapid' in board_list %}
              <h4>Rapid Rehousing
                <span class="label label-info ">
                  {{ boards['Rapid']|length }}
                </span>
                {% if maxes['Rapid'] > 10 %}
                  <mark><small>
                    Expanded to {{ maxes['Rapid'] }} slots
                  </small></mark>
                {% endif %}
              </h4>
            {% else %}
              <h4><s>Rapid Housing</s>
                <span class="label label-info ">
                  {{ boards['Rapid']|length }}
                </span>
                <mark><small>Closed</small></mark>
              </h4>
            {% endif %}
            {% if game.round_count > 1 %}
              {% include 'chart-rapid.html' %}
            {% endif %}
          </li>
        </ul>
      </div><!-- ./panel body -->
    </div><!-- ./panel left -->
    <div class="panel panel-primary col-sm-5">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            {% if 'Outreach' in board_list %}
              <h4>Outreach Program
                <span class="label label-info ">
                  {{ boards['Outreach']|length }}
                </span>
                {% if maxes['Outreach'] > 10 %}
                  <mark><small>
                    Expanded to {{ maxes['Outreach'] }} slots
                  </small></mark>
                {% endif %}
              </h4>
            {% else %}
              <h4><s>Outreach Housing</s>
                <span class="label label-info ">
                  {{ boards['Outreach']|length }}
                </span>
                <mark><small>Closed</small></mark>
              </h4>
            {% endif %}
          </li>
          <li class="list-group-item">
            {% if 'Transitional' in board_list %}
              <h4>Transitional Housing
                <span class="label label-info ">
                  {{ boards['Transitional']|length }}
                </span>
                {% if maxes['Transitional'] > 20 %}
                  <mark><small>
                    Expanded to {{ maxes['Transitional'] }} slots
                  </small></mark>
                {% endif %}
              </h4>
            {% else %}
              <h4><s>Transitional Housing</s>
                <span class="label label-info ">
                  {{ boards['Transitional']|length }}
                </span>
                <mark><small>Closed</small></mark>
              </h4>
            {% endif %}
            {% if game.round_count > 1 %}
              {% include 'chart-trans.html' %}
            {% endif %}
          </li>
          <li class="list-group-item">
            {% if 'Permanent' in board_list %}
              <h4>Permanent Supportive Housing
                <span class="label label-info ">
                  {{ boards['Permanent']|length }}
                </span>
                {% if maxes['Permanent'] > 20 %}
                  <mark><small>
                    Expanded to {{ maxes['Permanent'] }} slots
                  </small></mark>
                {% endif %}
              </h4>
            {% else %}
              <h4><s>Permanent Housing</s>
                <span class="label label-info ">
                  {{ boards['Permanent']|length }}
                </span>
                <mark><small>Closed</small></mark>
              </h4>
            {% endif %}
            {% if game.round_count > 1 %}
              {% include 'chart-perm.html' %}
            {% endif %}
          </li>
        </ul>
      </div><!-- ./panel body -->
    </div><!-- ./panel center -->
    {% if game.round_count > 1  and game.round_count < 6 %}
        <div class="col-sm-2">
          {% include 'decisions.html' %}
        </div><!-- ./panel right -->
      </div><!-- ./row -->
      <div class="row">
          {% include 'chart-totals.html' %}
    {% endif %}
  </div><!-- ./row -->
{% endblock %}
