{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="panel panel-primary col-sm-7">
      <div class="panel-heading">
        <h2 class="panel-title">Board to Play: {{ boards[game.board_to_play] }}</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <h4>Intake Program
              <span class="label label-info ">0</span>
              <a href="{{ url_for('play_board', board_name="Intake", game_id=game.id) }}" class="pull-right">Play</a>
            </h4>
          </li>
          {% if 'Emergency' in boards %}
            <li class="list-group-item">
              <h4>Emergency Housing
                <span class="label label-info ">{{ emerg|length }}</span>
                <a href="{{ url_for('play_board', board_name="Emergency", game_id=game.id) }}" class="pull-right">Play</a>
              </h4>
            </li>
          {% endif %}
          {% if 'Rapid' in boards %}
            <li class="list-group-item">
              <h4>Rapid Rehousing
                <span class="label label-info ">{{ rapid|length }}</span>
                <a href="{{ url_for('play_board', board_name="Rapid", game_id=game.id) }}" class="pull-right">Play</a>
              </h4>
            </li>
          {% endif %}
          {% if 'Outreach' in boards %}
            <li class="list-group-item">
              <h4>Outreach Program
                <span class="label label-info ">{{ outreach|length }}</span>
                <a href="{{ url_for('play_board', board_name="Outreach", game_id=game.id) }}" class="pull-right">Play</a>
              </h4>
            </li>
          {% endif %}
          {% if 'Transitional' in boards %}
            <li class="list-group-item">
              <h4>Transitional Housing
                <span class="label label-info ">{{ trans|length }}</span>
                <a href="{{ url_for('play_board', board_name="Transitional", game_id=game.id) }}" class="pull-right">Play</a>
              </h4>
            </li>
          {% endif %}
          {% if 'Permanent' in boards %}
            <li class="list-group-item">
              <h4>Permanent Supportive Housing
                <span class="label label-info ">{{ perm|length }}</span>
                <a href="{{ url_for('play_board', board_name="Permanent", game_id=game.id) }}" class="pull-right">Play</a>
              </h4>
            </li>
          {% endif %}
        </ul>
      </div><!-- ./panel body -->
      {% if game.round_count > 1 %}
      <div class="panel-heading">
        <h2 class="panel-title">People In Programs</h2>
      </div>
      <div class="panel-body">
        <!-- program chart and legend  -->
        <canvas id="program_chart" width="400" height="200"></canvas>
        <div id="program_legend"></div>
      </div>
      <div class="panel-heading">
        <h2 class="panel-title">People After Programs</h2>
      </div>
      <div class="panel-body">
        <!-- outside chart and legend  -->
        <canvas id="outside_chart" width="400" height="200"></canvas>
        <div id="outside_legend"></div>
      </div>
      {% endif %}
    </div><!-- ./panel left -->
    <div class="col-sm-1">
    </div><!-- ./panel center -->
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Most Recent Moves</h2>
        </div>
        <div class="panel-body">
            {% if last_moves %}
            <ul class="list-group">
                {% for move in last_moves %}
                <li class="list-group-item">{{ move }}</li>
                {% endfor %}
                <li class="list-group-item">
                  <a href="{{ url_for('view_log', game_id=game.id) }}">
                    Full Log
                  </a>
                </li>
            </ul>
            {% else %}
            <p>No recent moves</p>
            {% endif %}
            {% if game.round_count == 6 %}
              <a href="{{ url_for('system_event', game_id=game.id) }}">
                Final Score
              </a>
            {% endif %}
        </div>
      </div><!-- ./div panel Moves -->
      <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="panel-title">Stats</h2>
        </div>
        <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
              People in Market Housing
              <span class="label label-info ">{{ market|length }}</span>
          </li>
          <li class="list-group-item">
              Unsheltered People
              <span class="label label-info ">{{ unsheltered|length }}</span>
          </li>
          <li class="list-group-item">
              Emergency Housing Per Round
              <span class="label label-info ">{{ e_counts }}</span>
          </li>
          <li class="list-group-item">
              Transitional Housing Per Round
              <span class="label label-info ">{{ t_counts }}</span>
          </li>
        </ul>
      </div><!-- ./div panel Bins -->
    </div><!-- ./panel right -->
  </div><!-- ./row -->

<script>
  // program_chart data
  var progData = {
    labels : [0, 1, 2, 3, 4, 5],
    datasets : [{
          data: [{% for count in e_counts %}
                    {{count}},
                  {% endfor %}],
          label: "Emergency",
          fillColor: "rgba(255,255,255,.2)",
          strokeColor: "rgba(151,187,205,.6)",
          pointColor: "rgba(151,187,205,.6)",
        },{
          data: [{% for count in r_counts %}
                    {{count}},
                  {% endfor %}],
          label: "Rapid",
          fillColor: "rgba(255,255,255,.2)",
          strokeColor: "rgba(255,51,51,.6)",
          pointColor: "rgba(255,51,51,.6)",
        },{
          data: [{% for count in t_counts %}
                    {{count}},
                  {% endfor %}],
          label: "Transitional",
          fillColor: "rgba(255,255,255,.2)",
          strokeColor: "rgba(51,204,51,.6)",
          pointColor: "rgba(51,204,51,.6)",
        },{
          data: [{% for count in p_counts %}
                    {{count}},
                  {% endfor %}],
          label: "Permanent",
          fillColor: "rgba(255,255,255,.2)",
          strokeColor: "rgba(204,0,102,.6)",
          pointColor: "rgba(204,0,102,.6)",
        }
      ]
    }
  // Set defaults and options
  Chart.defaults.global.responsive = false;
  Chart.defaults.global.scaleLineColor = "black";
  Chart.defaults.global.scaleFontSize = 16;
  // legendTemplate takes a template as a string
  var options = {
    display: true,
    scaleShowGridLines : false,
    barShowStroke : true,
    bezierCurve: false,
    multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",
    legendTemplate : '<ul class="list-inline">'
                      +'<% for (var i=0; i<datasets.length; i++) { %>'
                      +'<li class="list-group-item">'
                        +'<span style=\"background-color:<%=datasets[i].strokeColor%>\">'
                        +'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
                      +'</span></li>'
                      +'<% } %>'
                    +'</ul>'
    }

  // program chart - draw chart and legend
  var pchart = new Chart(document.getElementById("program_chart").getContext("2d"))
  var prog_chart = pchart.Line(progData, options);
  document.getElementById("program_legend").innerHTML = prog_chart.generateLegend();
  // outside_chart data
  var outsideData = {
  labels : [0, 1, 2, 3, 4, 5],
  datasets : [{
        data: [{% for count in m_counts %}
                  {{count}},
                {% endfor %}],
        label: "Market",
        fillColor: "rgba(255,255,255,.2)",
        strokeColor: "rgba(151,187,205,.6)",
        pointColor: "rgba(151,187,205,.6)",
      },{
        data: [{% for count in u_counts %}
                  {{count}},
                {% endfor %}],
        label: "Unsheltered",
        fillColor: "rgba(255,255,255,.2)",
        strokeColor: "rgba(255,51,51,.6)",
        pointColor: "rgba(255,51,51,.6)",
      }
    ]
  }
  // outside chart
  var ochart = new Chart(document.getElementById("outside_chart").getContext("2d"))
  var out_chart = ochart.Line(outsideData, options);
  document.getElementById("outside_legend").innerHTML = out_chart.generateLegend();
</script>
{% endblock %}
